body{
    background: #00a6ff;
    font-family: 'Akaya Telivigala', cursive;
}
.header_div{
    background: #00ff99;
    color: coral;
}
.header_div p{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.main_div button{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    font-weight: bolder;
    width: 130px;
}
.footer{
    color: #00ffdd;
    font-size: 18px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: coral;
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(149, 149, 151);
}
h4{
    font-size: 25px;
}